<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.NuGetExplorer.Example\packages.config" />
  <repository path="..\src\Orc.NuGetExplorer.Tests\Orc.NuGetExplorer.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.NuGetExplorer.Tests\Orc.NuGetExplorer.Tests.NET45\packages.config" />
  <repository path="..\src\Orc.NuGetExplorer.Tests\packages.config" />
  <repository path="..\src\Orc.NuGetExplorer.Xaml\Orc.NuGetExplorer.Xaml.NET40\packages.config" />
  <repository path="..\src\Orc.NuGetExplorer.Xaml\Orc.NuGetExplorer.Xaml.NET45\packages.config" />
  <repository path="..\src\Orc.NuGetExplorer.Xaml\packages.config" />
  <repository path="..\src\Orc.NuGetExplorer\Orc.NuGetExplorer.NET40\packages.config" />
  <repository path="..\src\Orc.NuGetExplorer\Orc.NuGetExplorer.NET45\packages.config" />
  <repository path="..\src\Orc.NuGetExplorer\Orc.NuGetExplorer.Shared\Orc.NuGetExplorer.Shared.Droid\packages.config" />
  <repository path="..\src\Orc.NuGetExplorer\Orc.NuGetExplorer.Shared\Orc.NuGetExplorer.Shared.iOS\packages.config" />
  <repository path="..\src\Orc.NuGetExplorer\Orc.NuGetExplorer.Shared\Orc.NuGetExplorer.Shared.WinPhone\packages.config" />
  <repository path="..\src\Orc.NuGetExplorer\packages.config" />
</repositories>