<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.NuGetExplorer.Example\packages.config" />
  <repository path="..\src\Orc.NuGetExplorer.Tests\packages.config" />
  <repository path="..\src\Orc.NuGetExplorer.Xaml\packages.config" />
  <repository path="..\src\Orc.NuGetExplorer\packages.config" />
</repositories>